<div class="contact-list">


    @foreach (var contact in Contacts)
    {
        <li @onclick="() => setSelectedContact(contact.Name)">@contact.Name @contact.LastName</li>
            @if (_isContactOpen == true && selectedContact == contact.Name)
        {
                <div class="modal-content">
                    <div class="modal-title">
        <button class="close" @onclick = "() => _isContactOpen = false">&times;</button>
            <h4>@contact.Name @contact.LastName</h4>
        </div>
        <div class="contact-info">
            <p>@contact.Number</p>
            <p>Vägvägen 2 <br> 432 39 Stad</p>
        </div>
    </div>
        }
    }

</div>

@code {


    private bool _isContactOpen;
    private string selectedContact { get; set; }

    private void setSelectedContact(string Name)
    {
        _isContactOpen = true;
        selectedContact = Name;
    }

    public static List<Contact> Contacts = new List<Contact>()
    {
        new Contact("Kalle", "Persson", "kalle.persson@exempel.com", 0701231122),
        new Contact("Anders", "Andersson", "anders.andersson@exempel.com", 0701231122),
        new Contact("Stina", "Svensson", "stina.Svensson@exempel.com", 0701231122),
        new Contact("Kaj", "Bergström", "kaj.bergström@exempel.com", 0701231122),
        new Contact("Maja", "Johansson", "Maja.Johansson@exempel.com", 0701231122),
    };

    private bool _isShowingContactInfo;

    private void OpenContactInfo(){
        _isShowingContactInfo = true;
    }
}
