<div class="contact-list">

    @foreach (var contact in Contacts)
    {
        <li @onclick="() => SetSelectedContact(contact.Name, contact.LastName)">@contact.Name @contact.LastName</li>
        @if (_selectedContactName == contact.Name && _selectContactLastName == contact.LastName && IsContactOpen == true)
        {

            <div class="modal-content">
                <div class="modal-title">
                    <button @onclick="CloseCard" class="close">&times;</button>
                    <h4> @contact.Name @contact.LastName </h4>
                </div>
                <div class="contact-info">
                    <p>telefon: @contact.Number</p>
                    <p>e-post: @contact.Email</p>
                    <p>Vägvägen 2 <br> 432 39 Stad</p>
                </div>
            </div>

        }
    }

</div>

@code {

    public List<Contact> Contacts { get; set; } = new List<Contact>()
    {
        new Contact("Kalle", "Persson", "kalle.persson@exempel.com", 0701231122),
        new Contact("Anders", "Andersson", "anders.andersson@exempel.com", 0701231122),
        new Contact("Stina", "Svensson", "stina.Svensson@exempel.com", 0701231122),
        new Contact("Kaj", "Bergström", "kaj.bergström@exempel.com", 0701231122),
        new Contact("Maja", "Johansson", "Maja.Johansson@exempel.com", 0701231122),

    };

    private string _selectedContactName { get; set; }
    private string _selectContactLastName { get; set; }
    private bool IsContactOpen;
    private void SetSelectedContact(string name, string lastname)
    {
        _selectedContactName = name;
        _selectContactLastName = lastname;
        IsContactOpen = true;
    }

    private void CloseCard()
    {
        IsContactOpen = false;
    }

    public bool isCreatingContact;
    public string name = "";
    public string lastName = "";
    public string mail = "";
    public int number;


    bool Create
    {
        get { return isCreatingContact; }
        set { isCreatingContact = value; }
    }

        public string Name
        {
            get { return _firstName; }
        }

    string Lastname
    {
        set { lastName = value; }
    }

    string Mail
    {
        set { mail = value; }
    }

    int Number
    {
        set { number = value; }
    }

    public void NewContact()
    {
        isCreatingContact = true;
    }

    public void AddContact()
    {
        Contacts.Add(new Contact(name, lastName, mail, number));
        isCreatingContact = false;
        StateHasChanged();

    }
}
